<!--blogs.html-->
<!--Brazil page-->
<!--User Login Form-->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Blog</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

<div class="container mtb">
	 	<div class="row">

			<div class="text-center"><h3> : Feature Blog Posts : </h3></div>
	 		<div class="col-md-12">
	 			<!-- Blog Post 1 -->
		 		<p><img class="img-responsive" src="../assets/img/adventure/lg-brazil.jpg"></p>
		 		<a ui-sref="brazil"><h3 class="ctitle">12 Brazilian Portuguese Phrases You Need To Know Before You Visit Brazil</h3></a>
		 		<p><csmall>Posted: April 25, 2017.</csmall> | <csmall2>By: Admin - 3 Comments</csmall2></p>
		 		<p> Read our guide of essential phrases in Brazilian Portuguese that you need to know before going to Brazil.</p>
		 		<p><a ui-sref="brazil">[Read More]</a></p>
		 		<div class="hline"></div>
		 		
		 		<div class="spacing"></div>

             	<!-- Blog Post 2 -->
		 		<p><img class="img-responsive" src="../assets/img/adventure/lg-mexico.jpg"></p>
		 		<a href="single-post.html"><h3 class="ctitle">Five Hidden Travel Gems in Mexico</h3></a>
		 		<p><csmall>Posted: April 25, 2017.</csmall> | <csmall2>By: Admin - 3 Comments</csmall2></p>
		 		<p>Forget Cancun and other tourist traps and get off the beaten path to explore these five hidden gems in Mexico, which include beaches and historic towns.</p>
		 		<p><a href="single-post.html">[Read More]</a></p>
		 		<div class="hline"></div>

		 		<div class="spacing"></div>
		 		
	 			<!-- Blog Post 3 -->
		 		<p><img class="img-responsive" src="../assets/img/adventure/lg-germany.jpg"></p>
		 		<a href="single-post.html"><h3 class="ctitle">10 reasons learning German is easier than you think</h3></a>
		 		<p><csmall>Posted: April 25, 2014.</csmall> | <csmall2>By: Admin - 3 Comments</csmall2></p>
		 		<p>And for each thing you find difficult about German, there are actually some features of German that make it quite easy for English speakers in ...</p>
		 		<p><a href="single-post.html">[Read More]</a></p>
		 		<div class="hline"></div>

				<div class="spacing"></div>

				<h3 class="text-center">Get Social</h3>	
				<div class="spacing"></div>


			  <ul class="list-inline social-1 text-center">
                        
						<li><a href="https://www.facebook.com/login.php?login_attempt=1&lwv=110"><i class="fa fa-facebook"></i></a></li>
                        
						<li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        
						<li><a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                        
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			    
				</ul>
			</div><!--/col-lg-8 -->
	 		


             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             </div>
	 		</div>





    